@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  animation: fadeSlideUp 0.8s ease-out both;
}

body {
  background-image: linear-gradient(to bottom right, #ffff, #ffff, #acdc92, #75BD4F);
}

#fb, #ig, #linkedin {
  transition: transform 200ms ease, box-shadow 200ms ease;
  cursor: pointer;
}

#fb:hover, #ig:hover, #linkedin:hover {
  transform: scale(1.18) rotate(5deg);
}

body > img {
  display: block;
  margin: 140px auto 0;
  max-width: 100%;
  width: 95%;
  height: auto;
  position: relative;
  top: 90px;

}

.nav-container {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  gap: 30px;
  width: calc(100% - 80px);
}

.nav-logo {
  height: 80px;
  width: auto;
  margin: 0;
}

.title {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #75BD4F;
}

.nav-links {
  margin-left: auto;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 16px;
  border: none;
  background: transparent;;
  border-radius: 8px;
  color: #75BD4F;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 670;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 20px;
  transition: all 0.3s ease;
}

.nav-links li:nth-child(even) a:hover {
  background: #40a4c8;
  color: white;
  border-radius: 12px;
  transform: scale(1.1);
}
  .nav-links li:nth-child(even) a:hover {
    background: #40a4c8;
    color: white;
    border-radius: 12px;
    transform: scale(1.1);
  }

.nav-links li:nth-child(odd) a:hover {
  background: #e8677e;
  color: white;
  border-radius: 12px;
  transform: scale(1.1);
}
  .nav-links li:nth-child(odd) a:hover {
    background: #e8677e;
    color: white;
    border-radius: 12px;
    transform: scale(1.1);
  }

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dynapuff-errrr> {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 570;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 20px auto;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 97%;
  z-index: 999999;
}

#fb {
  background: url('sprites2.png') no-repeat -27px -48px;
  width: 51px;
  height: 51px;
  display: inline-block;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transform-origin: center center;
  cursor: pointer;
  display: inline-block;
}

#ig {
  background: url('sprites2.png') no-repeat -108px -47px;
  width: 50px;
  height: 52px;
  display: inline-block;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transform-origin: center center;
  cursor: pointer;
  display: inline-block;
}

#linkedin {
  background: url('sprites2.png') no-repeat -428px -47px;
  width: 52px;
  height: 52px;
  display: inline-block;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transform-origin: center center;
  cursor: pointer;
  display: inline-block;
}

#headerimg {
  display: block;
  margin: 140px auto 0;
  max-width: 100%;
  width: 95%;
  height: auto;
  position: relative;
  top: 90px;
  z-index: 0;
}

#border {
  position: fixed;
  top: -140px;
  left: 0;
  right: 20px;
  bottom: auto;
  width: 100%;
  pointer-events: none;
  z-index: 9;
}

main {
  margin: 0 auto;
  width: 75%;
  max-width: 1200px;
  padding: 20px;
  box-shadow: -8px 0 16px rgba(0, 0, 0, 0.08), 8px 0 16px rgba(0, 0, 0, 0.08);
  z-index: 1;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  transition: all 0.2s ease;
  overflow: visible;
}

main:hover {
  transform: scale(1.006);
  box-shadow: -12px 0 24px rgba(0, 0, 0, 0.12), 12px 0 24px rgba(0, 0, 0, 0.12);
}

#section3 {
  padding: 30px;
  margin: 0 30px;
  overflow: visible;
}
#section3::after {
  content: "";
  display: table;
  clear: both;
}

#services {
  font-family: "Rubik Bubbles", system-ui;
  font-optical-sizing: auto;
  font-weight: 570;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 45px;
  color: #75BD4F;
  margin-bottom: 20px;
  text-align: center;
}

#servicetext {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 20px;
  color: #333333;
  margin: 0 auto;
  text-align: justify;
}

#services-div {
  width: 80%;
  margin: 0 auto;
}

.shop-scroll {
  background: #75BD4F;
  padding: 30px 20px;
  color: white;
  text-align: center;
  border-radius: 20px;
  margin: 40px auto;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  position: relative;
  z-index: 200;
}

.scroll-container {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  height: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.shop-item {
  min-width: 180px;
  text-align: center;
  z-index: auto;
}

.shop-item img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.4);
  z-index: auto;
}

.shop-item p {
  display: inline-block;
  text-decoration: none;
  padding: 10px 16px;
  border: none;
  background: transparent;;
  border-radius: 8px;
  color: white;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 670;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 20px;
  transition: all 0.3s ease;
}

.shop-item img:hover {
  transform: scale(1.08);
}

.item-desc {
  margin-top: 8px;
  font-size: 1.1rem;
  font-weight: 600;
}

.shop-btn {
  background: white;
  color: #1b8d3c;
  border: none;
  padding: 12px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 3px 8px rgba(0,0,0,0.4);
}

.shop-btn:hover {
  transform: scale(1.07);
  background: #e3e3e3;
}

#seminar {
  font-family: "Rubik Bubbles", system-ui;
  font-optical-sizing: auto;
  font-weight: 570;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 45px;
  color: #75BD4F;
  margin-bottom: 20px;
  float: left;
  text-align: left;
}

#semtext {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 20px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: justify;
  float: left;
}

#seminar-div {
  width: 47%;
  float: left;
  margin-bottom: 25px;
}

#semimg {
  width: 46%;
  margin-left: 5%;
  margin-top: 40px;
  float: left;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

#semimg:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

#apply-btn {
  display: block;
  clear: both;
  margin-top: 15px;
  padding: 12px 25px;
  font-family: "DynaPuff", system-ui;
  font-size: 20px;
  border: 3px solid #75BD4F;
  color: #75BD4F;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#apply-btn:hover {
  background-color: #75BD4F;
  color: white;
  border-color: white;
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

footer {
  background-color: #3c731e;
  width: 93%;
  padding: 20px 30px;
  border-radius: 30px;
  margin: 40px auto;
  position: relative;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.15), -4px 0 10px rgba(0,0,0,0.08), 4px 0 10px rgba(0,0,0,0.08);
}

.footer-content h2 {
  font-family: "Rubik Bubbles", system-ui;
  color: white;
  font-size: 40px;
  margin: 0 0 10px 0;
}

.footer-content ul {
  padding-left: 20px;
  margin: 0;
}

.footer-content li {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.4;
  word-wrap: break-word;
}
